---
import Layout from "../layouts/Layout.astro"
import Banner from "../components/Banner.astro"
import TechStack from "../components/TechStack.astro"
import Card from "../components/Card.astro"
import LudopodLogo from "../logos/LudopodLogo.astro"
import MegapixelArtLogo from "../logos/MegapixelArtLogo.astro"
import MammothLogo from "../logos/MammothLogo.astro"
import BuckoLogo from "../logos/BuckoLogo.astro"
import CorehallaLogo from "../logos/CorehallaLogo.astro"
import BulbLogo from "../logos/BulbLogo.astro"
import MustacheLogo from "../logos/MustacheLogo.astro"
import GimpedLogo from "../logos/GimpedLogo.astro"
import Experiences from "../components/Experiences.astro"
import SectionTitle from "../components/SectionTitle.astro"
import { HiFlag, HiPuzzlePiece } from "react-icons/hi2/index.js"
import Landing from "../components/Landing.astro"
import { TechStackArrow } from "../components/TechStackArrow"
import Projects from "../components/Projects.astro"
import Separator from "../components/Separator.astro"
import Emoji from "../components/Emoji.astro"
import { i18n, Trans } from "../i18n"

const t = i18n(Astro)

const logos = [
    LudopodLogo,
    MegapixelArtLogo,
    MammothLogo,
    BuckoLogo,
    CorehallaLogo,
    BulbLogo,
    MustacheLogo,
    GimpedLogo,
]

type Lang = {
    id: string
    name: string
    level: string
}

const languages: Lang[] = [
    { id: "fr", name: "Français", level: t("Native") },
    { id: "en", name: "English", level: t("Advanced") },
    { id: "de", name: "Deutsch", level: t("Rusty A2") },
    { id: "ja", name: "日本語", level: t("Beginner") },
]
---

<Layout title="Djobbo - Portfolio">
    <Landing />
    <div class="flex flex-col lg:flex-row gap-10 lg:gap-12">
        <div>
            <Banner />
            <p class="my-10 leading-8 text-sm md:text-base md:leading-8">
                <span class="flex text-4xl text-primary font-semibold mb-1">
                    <Trans>
                        Hi there
                        <Fragment slot="fr">Salut</Fragment>
                    </Trans>
                    <Emoji
                        emoji="👋"
                        className="inline-block waving-hand ml-1"
                    />,
                </span>
                <Trans>
                    I’m <span class="font-semibold">Djobbo</span>, a self taught
                    Fullstack engineer with 4+ years of web development
                    experience.
                    <br />
                    Currently focusing on Frontend and UI Design, I use <span
                        class="font-semibold">React</span
                    >, <span class="font-semibold">Typescript</span>
                    and <span class="font-semibold">Tailwind</span> to build visually
                    appealing and accessible applications.
                    <br />
                    Over my programming journey, I’ve used a variety of languages,
                    frameworks and tools such as <span class="font-semibold"
                        >NodeJS</span
                    >,
                    <span class="font-semibold">NextJS</span>, <span
                        class="font-semibold">Figma</span
                    >, <span class="font-semibold">Python</span> and <a
                        href="#stack"
                        id="view-stack"
                        class="font-semibold text-primary">more</a
                    >!
                    <Fragment slot="fr">
                        Moi c'est <span class="font-semibold">Djobbo</span>,
                        ingénieur Fullstack autodidacte avec 4+ ans d'expérience
                        en développement web.
                        <br />
                        Ayant une préference pour le Frontend et l'UI Design, j'utilise
                        <span class="font-semibold">React</span>, <span
                            class="font-semibold">Typescript</span
                        >
                        et <span class="font-semibold">Tailwind</span>
                        pour construire des applications accessibles et visuellement
                        attrayantes.
                        <br />
                        Tout au long de mon parcours, j'ai utilisé des langages,
                        outils et frameworks divers tels que <span
                            class="font-semibold">NodeJS</span
                        >,
                        <span class="font-semibold">NextJS</span>, <span
                            class="font-semibold">Figma</span
                        >, <span class="font-semibold">Python</span> et <a
                            href="#stack"
                            id="view-stack"
                            class="font-semibold text-primary">bien plus</a
                        >!
                    </Fragment>
                </Trans>
            </p>
            <p class="text-xs text-text1 text-center sm:text-end">
                <Trans>
                    I also design logomarks, here is some of my work
                    <Fragment slot="fr">
                        Je design aussi des logos, en voici quelques uns
                    </Fragment>
                </Trans>
                <span class="inline-block">🙌</span>
            </p>
            <ul
                class="mt-4 grid grid-cols-4 justify-items-center sm:flex sm:justify-between text-logofill flex-wrap md:flex-nowrap gap-y-4"
            >
                {
                    logos.map((Logo) => (
                        <li>
                            <Card
                                hollow
                                paddingClassName=""
                                className="group w-20 h-20 sm:w-16 sm:h-16 md:w-20 md:h-20 hover:border-primary transition"
                            >
                                <Logo />
                            </Card>
                        </li>
                    ))
                }
            </ul>
            <Experiences />
        </div>
        <div class="w-full lg:max-w-xs mt-3">
            <TechStack />
            <SectionTitle
                title={t("Spoken Languages")}
                Icon={HiFlag}
                className="mt-8 mb-8"
            />
            <ul
                class="flex items-center justify-between py-8 px-2 sm:px-8 lg:p-0"
            >
                {
                    languages.map(({ id, name, level }) => (
                        <li class="group flex flex-col items-center justify-center">
                            <img
                                src={`/flags/${id}.png`}
                                alt={name}
                                class="w-12 h-12 rounded-full group-hover:scale-110 transition"
                            />
                            <span class="text-sm mt-2 group-hover:text-primary">
                                {name}
                            </span>
                            <span class="text-xs text-text1 group-hover:text-primary">
                                {level}
                            </span>
                        </li>
                    ))
                }
            </ul>
            <SectionTitle
                title={t("Hobbys")}
                Icon={HiPuzzlePiece}
                className="mt-8 mb-4"
            />
        </div>
    </div>
    <Separator className="mt-16" dashed />
    <Projects />
</Layout>
<TechStackArrow client:only="react" />
<style>
    @keyframes wavehand {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(20deg);
        }
        50% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(-20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    .waving-hand:hover {
        animation: wavehand 0.5s ease-out infinite;
        transform-origin: 72% 72%;
    }
</style>
